#game {
  width: 320px;
  height: 320px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(8, 40px);
  gap: 2px;
}

.candy {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
